/* CSS for index.html */


* {
    font-family: 'Open Sans', sans-serif;
    /* box-sizing: border-box; */
}

body{
    /* display: flex; */
    font-size: 16px;
    margin: 0px 0px;
    padding: 0px 0px;
    
}

#header{
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    padding: 10px 10px;
    background: #0BA9F9;
    color: #ffffff;
    
}

#logo{
    /* border: 1px solid black; */
    width: 50px;
    height: 50px;
    float: left;
}

#menu{
    width: auto;
    height: auto;
}

#menu ul{
    display: flex;
    width: auto;
    height: auto;
    list-style: none;
    justify-content: space-evenly;
}


#menu ul li a{
    text-decoration: none;
    color: #ffffff;
}



#menu ul li a:hover{
    background: #000000;
   
}

.banner{
    height: 549px;
    width: 100%;
    background: url(../images/bg1.jpg) no-repeat center;
    background-size: cover;
    border: 1px solid transparent;
}

.services{
    display: flex;
    height: auto;
    width: 100%;
    /* border: 1px solid black; */
    justify-content: space-evenly;
}

.service-box{
    height: 350px;
    width: 300px;
    background: #444444;
    margin-top: 79px;
}

.icon-div{
    
    height: 60px;
    width: 60px;
    text-align: center;
    margin: auto;
}

.icon-div i{
    color: #ffffff;
    font-size: 30px;
    border-radius: 50%;
    margin-top: 20px;
}


.icon-div i:hover{
    background: #0BA9F9;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

input, select{
    background-color: white;
}

.form-container{
    height: 500px;
    width: 500px;
    margin:auto;
}

/* Color applied at background */
form{
    background: #f1f1f1;
    width: 600px;
}